<!doctype html>
<html ng-app>
<head>
	<title>List of addresses</title>
	<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
	<script type="text/javascript" src="addresses.js"></script>
	<link rel="stylesheet" type="text/css" href="addresses.css">
</head>
<body ng-controller="AddressesController">
	<h1>Addresses</h1>
	<div class="address" ng-repeat="address in addresses">
		<p>
			<label>Address:</label>
			<textarea ng-model="address.address"></textarea>
		</p>
		<p>
			<label>City:</label>
			<input type="text" ng-model="address.city">
		</p>
		<p>
			<label>Zip Code:</label>
			<input type="text" ng-model="address.zipcode">
		</p>
		<p>
			<label>Country:</label>
			<input type="text" ng-model="address.country">
		</p>
		<p>
			<label>State/Province:</label>
			<input type="text" ng-model="address.state">
		</p>
		[<a href="" ng-click="addresses.splice($index, 1)">Remove</a>]
		<hr>
	</div>
	<input type="button" value="Add address" ng-click="addNewAddress()" />
</body>
</html>